/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
}

/* line 25, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 29, ../sass/partials/_base.scss */
body {
  font-family: "Fira Sans", Segoe UI, sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #555555;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.65;
  background-color: white;
}
/* line 42, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* Backgrounds */
/* line 49, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 53, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 57, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #0A46BA !important;
}

/* line 61, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #FCCA33 !important;
}

/* line 65, ../sass/partials/_base.scss */
.bg__primary_inverse {
  background-color: #D2D7FF !important;
}

/* line 69, ../sass/partials/_base.scss */
.color__primary {
  color: #0A46BA !important;
}

/* line 73, ../sass/partials/_base.scss */
.color__secondary {
  color: #FCCA33 !important;
}

/* line 77, ../sass/partials/_base.scss */
.color__black {
  color: #010E68 !important;
}

/* line 81, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 85, ../sass/partials/_base.scss */
.color__grey {
  color: #EBEBF7 !important;
}

/* line 90, ../sass/partials/_base.scss */
.color__white {
  color: white !important;
}

/* line 94, ../sass/partials/_base.scss */
.text__color_darker {
  color: #353535 !important;
}

/* line 98, ../sass/partials/_base.scss */
.font-sm {
  font-size: 13px !important;
}

/* line 102, ../sass/partials/_base.scss */
.font-default {
  font-size: 16px !important;
}

/* line 106, ../sass/partials/_base.scss */
.font-md {
  font-size: 21px !important;
}

/* line 110, ../sass/partials/_base.scss */
.font-lg {
  font-size: 32px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 110, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 48px !important;
  }
}

/* line 118, ../sass/partials/_base.scss */
.font-heavy {
  font-weight: 900;
  letter-spacing: 0.04em;
}

/* line 123, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700;
}

/* line 127, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400;
}

/* line 131, ../sass/partials/_base.scss */
.text_italics {
  font-style: italic;
}

/* line 135, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 139, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 143, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 147, ../sass/partials/_base.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 151, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 155, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 159, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
}

/* line 165, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 170, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Tablets and phablets */
@media only screen and (max-width: 767px) {
  /* line 175, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 179, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 185, ../sass/partials/_base.scss */
  .visible_sm {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
/* line 193, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 202, ../sass/partials/_base.scss */
h1 {
  font-size: 48px;
}

/* line 206, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 210, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 214, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 218, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 222, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 226, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 230, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 235, ../sass/partials/_base.scss */
address, address span {
  display: block;
}

/* line 239, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 243, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 247, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 251, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 50px !important;
}

/* line 255, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 259, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 263, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 267, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 271, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 275, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 24px;
  height: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 29, ../sass/partials/_custom_icons.scss */
  .icon_md {
    width: 48px;
    height: 48px;
  }
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 44, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 128px;
    height: 128px;
  }
}

/* line 54, ../sass/partials/_custom_icons.scss */
.icon_ticket {
  background-image: url(../img/icons/ticket.svg);
}

/* line 58, ../sass/partials/_custom_icons.scss */
.icon_calendar {
  background-image: url(../img/icons/calendar.svg);
}

/* line 62, ../sass/partials/_custom_icons.scss */
.icon_timer {
  background-image: url(../img/icons/timer.svg);
}

/* line 66, ../sass/partials/_custom_icons.scss */
.icon_venue {
  background-image: url(../img/icons/GlobeSimple.svg);
}

/* line 70, ../sass/partials/_custom_icons.scss */
.icon_gift {
  background-image: url(../img/icons/gift.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #0A46BA;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #0A46BA;
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(10, 70, 186, 0.35);
  -moz-tap-highlight-color: rgba(10, 70, 186, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: #f5f5f5;
  fill: #f5f5f5;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  will-change: background-color, color;
  /* Tablets and phablets */
}
/* line 65, ../sass/partials/_navigation.scss */
.btn + [class*="btn"], .btn + [class*="Btn"] {
  margin-left: 1.5em;
}
/* line 69, ../sass/partials/_navigation.scss */
.btn > * + * {
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 100px;
  }
}
/* line 77, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
}
/* line 81, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}
/* line 86, ../sass/partials/_navigation.scss */
.btn[disabled], .btn.disabled {
  pointer-events: none;
  color: #f5f5f5;
  background-color: #959595;
}

/* line 93, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #0A46BA;
  color: #EBEBF7;
  fill: #EBEBF7;
}
/* line 98, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #010E68;
  color: #f5f5f5;
}

/* line 105, ../sass/partials/_navigation.scss */
.btn-secondary {
  background-color: #FCCA33;
  color: #010E68;
  fill: #010E68;
}
/* line 110, ../sass/partials/_navigation.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #010E68;
  color: #f5f5f5;
}

/* line 117, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: transparent;
  color: inherit;
  fill: inherit;
}
/* line 122, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #EBEBF7;
  color: #0A46BA;
  fill: #0A46BA;
}

/* line 130, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 12px;
}

/* line 135, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  font-size: 18px;
}

/* line 140, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  text-decoration: underline;
  color: #0A46BA;
}
/* line 147, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: inherit;
  text-decoration: none;
}
/* line 153, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #757575;
  outline: none;
}

/* line 159, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 167, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
/* line 176, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #959595;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 187, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 190, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 193, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #EBEBF7;
}
/* line 196, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #555555;
}

/* line 1, ../sass/partials/_header_nav.scss */
.brand_details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}
/* line 5, ../sass/partials/_header_nav.scss */
.brand_details > * + * {
  margin-left: 30px;
}

/* line 10, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 13, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 60px;
}

/* line 18, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 60px;
  width: 170px;
  position: relative;
  height: 100%;
}
/* line 26, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 32, ../sass/partials/_header_nav.scss */
.partnerInfo {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 37, ../sass/partials/_header_nav.scss */
.partnershipLabel {
  opacity: .5;
}

/* line 41, ../sass/partials/_header_nav.scss */
.parnerName {
  opacity: .75;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    min-height: 450px;
    max-height: 1200px;
  }
}

/* line 17, ../sass/partials/_heroes.scss */
.hero_area {
  padding: 4rem 0 7rem;
  /* Tablets and phablets */
}
/* line 21, ../sass/partials/_heroes.scss */
.hero_area .container {
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_heroes.scss */
  .hero_area {
    padding-bottom: 11rem;
  }
}

/* line 30, ../sass/partials/_heroes.scss */
.home_hero {
  background-color: #010E68;
  background-image: url(../img/banners/hero_bg.jpg);
}

/* line 35, ../sass/partials/_heroes.scss */
.heroContentWrapper {
  z-index: 10;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

/* line 43, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 38px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 43, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 48px;
  }
}

/* line 52, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 52, ../sass/partials/_heroes.scss */
  .hero_blub {
    font-size: 21px;
  }
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;
}
/* line 7, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}

/* line 12, ../sass/partials/_sections.scss */
.section_block {
  padding: 70px 0 30px;
  display: block;
  width: 100%;
  position: relative;
}
/* line 18, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 23, ../sass/partials/_sections.scss */
.fillerImage {
  width: 100%;
  max-width: 512px;
  display: block;
  margin: auto;
}

/* line 30, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 40px;
  clear: both;
}

/* line 35, ../sass/partials/_sections.scss */
.section_header {
  position: relative;
  margin-bottom: 40px;
}

/* line 40, ../sass/partials/_sections.scss */
.title {
  line-height: 1.45;
  font-size: 14px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 40, ../sass/partials/_sections.scss */
  .title {
    font-size: 18px;
  }
}

/* line 50, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 16px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 50, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 21px;
  }
}

/* line 58, ../sass/partials/_sections.scss */
.title_md {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 58, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 32px;
  }
}

/* line 66, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 66, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 42px;
  }
}

/* line 74, ../sass/partials/_sections.scss */
.floatingInfoWidgetHolder {
  clear: both;
  margin-top: -60px;
  position: relative;
  z-index: 2;
}

/* line 81, ../sass/partials/_sections.scss */
.floatingInfoWIdget {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 81, ../sass/partials/_sections.scss */
  .floatingInfoWIdget {
    padding: 30px 40px;
  }
}

/* line 93, ../sass/partials/_sections.scss */
footer[role="contentinfo"] {
  width: 100%;
  clear: both;
}

/* line 98, ../sass/partials/_sections.scss */
.banner_figure {
  width: 100%;
  position: relative;
}

/* line 103, ../sass/partials/_sections.scss */
.bannerImage {
  width: 100%;
  border-radius: 15px;
  display: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 103, ../sass/partials/_sections.scss */
  .bannerImage {
    display: block;
    max-width: 80%;
  }
}

/* line 114, ../sass/partials/_sections.scss */
.banner_Content {
  width: 100%;
  top: 50px;
  z-index: 4;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 114, ../sass/partials/_sections.scss */
  .banner_Content {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
  }
}

/* line 126, ../sass/partials/_sections.scss */
.bannerContentPanel {
  display: block;
  background-color: #D2D7FF;
  padding: 30px 15px;
  border-radius: 25px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 126, ../sass/partials/_sections.scss */
  .bannerContentPanel {
    padding: 40px;
    max-width: 570px;
  }
}

/* line 138, ../sass/partials/_sections.scss */
.pageFooter {
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
}

/* line 144, ../sass/partials/_sections.scss */
.tributeInfo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 144, ../sass/partials/_sections.scss */
  .tributeInfo {
    flex-direction: row;
    align-items: center;
  }
}

/* line 156, ../sass/partials/_sections.scss */
.partner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 160, ../sass/partials/_sections.scss */
.partner img {
  padding: 0 5px;
  max-width: 120px;
}

/* line 1, ../sass/partials/_lists.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* line 6, ../sass/partials/_lists.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 6, ../sass/partials/_lists.scss */
  .media_figure {
    margin-right: 15px;
  }
}

/* line 16, ../sass/partials/_lists.scss */
.media_info {
  flex: 1;
}

/* line 20, ../sass/partials/_lists.scss */
.iconBox {
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-color: #f5f5f5;
  fill: #0A46BA;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 20, ../sass/partials/_lists.scss */
  .iconBox {
    width: 48px;
    height: 48px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 44, ../sass/partials/_lists.scss */
  .iconBox .cust_icon {
    width: 20px;
    height: 20px;
  }
}

/* line 51, ../sass/partials/_lists.scss */
.avi_avg {
  height: 32px;
  width: 32px;
}

/* line 56, ../sass/partials/_lists.scss */
.avi_sm {
  height: 24px;
  width: 24px;
  font-size: 14px;
}

/* line 62, ../sass/partials/_lists.scss */
.avi_md {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

/* line 68, ../sass/partials/_lists.scss */
.avi_lg {
  width: 64px;
  height: 64px;
  font-size: 21px;
}

/* line 74, ../sass/partials/_lists.scss */
.avi_large {
  width: 64px;
  height: 64px;
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 74, ../sass/partials/_lists.scss */
  .avi_large {
    width: 128px;
    height: 128px;
    font-size: 48px;
  }
}

/* line 86, ../sass/partials/_lists.scss */
.productSummary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 86, ../sass/partials/_lists.scss */
  .productSummary {
    justify-content: space-around;
  }
}

/* line 96, ../sass/partials/_lists.scss */
.summaryInfoItem {
  padding: 10px;
}

/* line 100, ../sass/partials/_lists.scss */
.titleListItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 104, ../sass/partials/_lists.scss */
.titleListItem::before {
  height: 20px;
  width: 20px;
  display: inline-flex;
  content: "";
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icons/listmarker.svg);
}
/* line 116, ../sass/partials/_lists.scss */
.titleListItem > span {
  flex-grow: 1;
  width: 100%;
}
/* line 121, ../sass/partials/_lists.scss */
.titleListItem + .titleListItem {
  margin-top: 10px;
}

/* line 128, ../sass/partials/_lists.scss */
.formStepsWidget {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* line 134, ../sass/partials/_lists.scss */
.formStepIndicatorItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  color: #353535;
  flex-direction: row;
}
/* line 140, ../sass/partials/_lists.scss */
.formStepIndicatorItem + .formStepIndicatorItem {
  margin-top: 40px;
}
/* line 145, ../sass/partials/_lists.scss */
.formStepIndicatorItem:last-child .stepIndicatorNode::after {
  display: none;
}

/* line 151, ../sass/partials/_lists.scss */
.stepIndicatorNode {
  font-weight: 900;
  text-align: center;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  color: #010E68;
  display: inline-flex;
  font-size: 21px;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  margin-right: 20px;
}
/* line 166, ../sass/partials/_lists.scss */
.stepIndicatorNode::after {
  content: "";
  display: block;
  position: absolute;
  height: 90px;
  bottom: -90px;
  left: 50%;
  right: auto;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 2px solid #E5E5E5;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 166, ../sass/partials/_lists.scss */
  .stepIndicatorNode::after {
    display: none;
  }
}

/* line 182, ../sass/partials/_lists.scss */
.stepIndicatorDetails {
  flex: 1;
  position: relative;
  font-size: 14px;
}

/* line 188, ../sass/partials/_lists.scss */
.helpArticle {
  display: block;
  clear: both;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 15px;
  /* Tablets and phablets */
}
/* line 195, ../sass/partials/_lists.scss */
.helpArticle + .helpArticle {
  margin-top: 15px;
}
/* line 199, ../sass/partials/_lists.scss */
.helpArticle .title {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 188, ../sass/partials/_lists.scss */
  .helpArticle {
    padding: 30px;
  }
}

/* line 208, ../sass/partials/_lists.scss */
.contactInfoList {
  margin: 0 -15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #D2D7FF;
}

/* line 217, ../sass/partials/_lists.scss */
.contact_detail {
  padding: 15px;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  color: #757575;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 23, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 28, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #555555;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 39, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #EBEBF7;
  color: #010E68;
}
/* line 45, ../sass/partials/_dialogs.scss */
.dropdown-menu li .cust_icon {
  width: 24px;
  height: 24px;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 63, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 67, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #010E68 !important;
}

/* line 71, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: #010E68;
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 78, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
  display: none;
}

/* line 83, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 87, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  max-width: 520px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 87, ../sass/partials/_dialogs.scss */
  .modal-dialog {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* line 97, ../sass/partials/_dialogs.scss */
.modal {
  z-index: 3000;
}
/* line 100, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.95);
  padding: none !important;
}
/* line 105, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 20px 15px 0;
  justify-content: flex-start;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 105, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 116, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 30px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 126, ../sass/partials/_dialogs.scss */
.modal .subtitle {
  margin-bottom: 20px;
  display: block;
}
/* line 131, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 135, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 141, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", Segoe UI, sans-serif;
  text-transform: uppercase;
}

/* line 148, ../sass/partials/_dialogs.scss */
.course_panel {
  display: block;
  padding: 10px 15px 0;
  background-color: white;
  border: 1px solid #D2D7FF;
  border-radius: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 148, ../sass/partials/_dialogs.scss */
  .course_panel {
    padding: 15px 30px 0;
  }
}
/* line 159, ../sass/partials/_dialogs.scss */
.course_panel + .course_panel {
  margin-top: 15px;
}

/* line 164, ../sass/partials/_dialogs.scss */
.panel-header {
  padding-bottom: 15px;
}

/* line 168, ../sass/partials/_dialogs.scss */
.panel-body {
  padding: 20px 0;
  border-top: 1px solid #D2D7FF;
}

/* line 173, ../sass/partials/_dialogs.scss */
.accordion-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.4;
  font-size: 18px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 173, ../sass/partials/_dialogs.scss */
  .accordion-toggle {
    font-size: 24px;
  }
}
/* line 185, ../sass/partials/_dialogs.scss */
.accordion-toggle::after {
  content: "";
  width: 40px;
  height: 40px;
  padding: 8px;
  background-size: 65%;
  background-color: #D2D7FF;
  border-radius: 15px;
  flex-shrink: 0;
  margin-left: 10px;
  background-repeat: no-repeat;
  -moz-transition: -moz-transform 0.4s ease-in-out 0s;
  -o-transition: -o-transform 0.4s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0.4s ease-in-out 0s;
  background-image: url(../img/icons/chevron-down.svg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-position: center;
}
/* line 202, ../sass/partials/_dialogs.scss */
.accordion-toggle.collapsed::after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 206, ../sass/partials/_dialogs.scss */
.accordion-toggle:hover, .accordion-toggle:focus {
  opacity: .75;
}

/* line 211, ../sass/partials/_dialogs.scss */
.course_title {
  display: inline-flex;
}
/* line 214, ../sass/partials/_dialogs.scss */
.course_title > * + * {
  margin-left: 10px;
}
