// colors

$brand_primary: #0A46BA;
$brand_accent: #FCCA33;
$brand_gray: #EBEBF7;
$brand_black: #010E68;
$color_text: #555555; 
$color_text_darker: #353535;
$color_white: #f5f5f5; 
$color_grey_dark: #757575; 
$color_grey_light: #c5c5c5;
$border_grey: #D2D7FF;
$border_grey_light: #E5E5E5;
$border_grey_dark: #959595;

$body_font: 'Fira Sans', Segoe UI, sans-serif;
$header_font: 'Fira Sans', Segoe UI, sans-serif;

$header_height: 60px;
$header_height_l: 100px;
$header-zindex: 100;
